<div class="bg">
</div>
<h1>Bienvenido usuario, ingrese una URL válida:</h1>
<div *ngIf="mostrarError" class="alert alert-dismissible alert-danger">
  <strong>{{textError | uppercase}}</strong>
</div>
<div class="input-group mb-4">
  <input [(ngModel)]="nombreUrl" type="text" class="form-control" placeholder="Ingrese una url" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button [disabled]="nombreUrl === ''" (click)="procesar()" class="btn btn-outline-primary" type="button" id="button-addon2">Acortar Url</button>
</div>
<div class="sk-folding-cube" *ngIf="loading">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>
<div class="padre">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Url Original</th>
        <th scope="col">Url acortada</th>
      </tr>
    </thead>
    <tbody *ngFor="let enlace of enlaces">
      <tr>
        <td>{{enlace.ori}}</td>
        <td>
          <a href="{{enlace.short}}">{{enlace.short}}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>