@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Squada+One&display=swap');
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.alert {
  text-align: center;
}

.padre {
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 5%;
  font-family: 'Cairo', sans-serif;
  font-weight: bolder;
}

.input-group {
  padding-left: 10%;
  padding-right: 10%;
}

body {
  background-color: #111111;
  margin: 0;
  overflow-x: hidden;
}

.table {
  font-family: 'Cairo', sans-serif;
  font-weight: bolder;
}

a {
  z-index: 5;
}

// .bg {
//   position: fixed;
//   top: -50%;
//   left: -50%;
//   right: -50%;
//   bottom: -50%;
//   width: 200%;
//   height: 200vh;
//   background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
//   background-repeat: repeat;
//   animation: bg-animation .2s infinite;
//   opacity: .9;
//   visibility: visible;
// }
// @keyframes bg-animation {
//   0% {
//     transform: translate(0, 0)
//   }
//   10% {
//     transform: translate(-5%, -5%)
//   }
//   20% {
//     transform: translate(-10%, 5%)
//   }
//   30% {
//     transform: translate(5%, -10%)
//   }
//   40% {
//     transform: translate(-5%, 15%)
//   }
//   50% {
//     transform: translate(-10%, 5%)
//   }
//   60% {
//     transform: translate(15%, 0)
//   }
//   70% {
//     transform: translate(0, 10%)
//   }
//   80% {
//     transform: translate(-15%, 0)
//   }
//   90% {
//     transform: translate(10%, 5%)
//   }
//   100% {
//     transform: translate(5%, 0)
//   }
// }