table {
  width: 90%;
  margin: 1rem auto;
  // text-align: center;
}

.h1 {
  text-align: center;
}

.container label {
  font-size: 1.3em;
  margin-bottom: 8px;
  font-weight: 600;
}

.padre {
  background-image: url('../../assets/back/pexels-francesco-ungaro-998653.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.table {
  background-color: aquamarine;
  font-size: 1.5em;
  text-align: center;
}