<div class="padre">
  <p class="h1">¡Bienvenido al menú de reservas!</p>
  <p class="display-6 h1">Por favor ingrese los datos que se le solicitan a continuación:</p>
  <div class="container">
    <form [formGroup]="formulario">
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" formControlName="nombre">
        <div *ngIf="formulario.controls['nombre'].invalid && formulario.controls['nombre'].dirty" class="alert alert-warning" role="alert">
          <span *ngIf="formulario.controls['nombre'].errors.required">El nombre es requerido...</span>
        </div>
      </div>

      <div class="form-group">
        <label>Correo</label>
        <input type="email" class="form-control" formControlName="correo">
        <div *ngIf="formulario.controls['correo'].invalid && formulario.controls['correo'].dirty">
          <div *ngIf="formulario.controls['correo'].errors.required" class="alert alert-warning" role="alert">
            Correo es requerido
          </div>
          <div class="alert alert-warning" role="alert">
            Correo inválido...
          </div>
        </div>
      </div>

      <div class="form-group mb-4">
        <label>Fecha</label>
        <input [attr.min]="min" [attr.max]="max" type="date" class="form-control" displayFormat="DD/MM/YYYY" formControlName="fecha" max="maximDia">
      </div>
      <div class="form-group mb-4">
        <label>País</label>
        <select class="form-select" formControlName="pais">
        <option *ngFor="let country of countries" value="{{country.country}}" >{{country.country}}</option>
      </select>
      </div>
      <button [disabled]="!formulario.valid" class="btn btn-success" (click)="reservar()">Reservar</button>
    </form>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">País</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of reservas">
        <th>{{reserva.fecha}}</th>
        <td>{{reserva.nombre}}</td>
        <td>{{reserva.correo}}</td>
        <td>{{reserva.pais}}</td>
      </tr>
    </tbody>
  </table>
</div>