<h1>Bienvenido al sistema de reservas</h1>
<table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let articulo"> {{articulo.fecha}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let articulo"> {{articulo.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="correo">
    <th mat-header-cell *matHeaderCellDef> Correo </th>
    <td mat-cell *matCellDef="let articulo"> {{articulo.correo}} </td>
  </ng-container>

  <ng-container matColumnDef="pais">
    <th mat-header-cell *matHeaderCellDef> País </th>
    <td mat-cell *matCellDef="let articulo"> {{articulo.pais}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>
<div class="contenedor">

  <mat-form-field>
    <input matInput [(ngModel)]="articuloselect.fecha" type="date" placeholder="Ingrese Fecha" min="2020-09-25" max="fechamanana()">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="articuloselect.nombre" type="text" placeholder="Ingrese Nombre">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="articuloselect.correo" type="email" placeholder="Ingrese Correo">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="articuloselect.pais" type="text" placeholder="Ingrese País">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="agregar()">Agregar</button>

</div>