<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; float: left; height: 100vh;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-4">Menú</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" *ngIf="permisoB">
      <a class="nav-link active" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg> Bienvenida
      </a>
    </li>
    <li *ngIf="permisoB">
      <a class="nav-link text-white" (click)="cards()">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg> Breaking bad API
      </a>
    </li>
    <li *ngIf="permisoB">
      <a class="nav-link text-white" (click)="reserva()">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg> Reserva
      </a>
    </li>
    <li *ngIf="!permisoB">
      <a class="nav-link text-white" (click)="links()">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg> ShortterLink
      </a>
    </li>
  </ul>
  <hr>
  <h1>{{role}}</h1>
  <a (click)="logout()">Salir</a>
</div>
<app-bienvenida></app-bienvenida>